<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhurong.db.persistence.mapper.generic.ProjectDataSourceMapper" >
  <resultMap id="BaseResultMap" type="com.zhurong.db.persistence.domain.ProjectDataSource" >
    <id column="data_source_id" property="dataSourceId" jdbcType="VARCHAR" />
    <result column="db_type" property="dbType" jdbcType="VARCHAR" />
    <result column="env_type" property="envType" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="DECIMAL" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="db_user" property="dbUser" jdbcType="VARCHAR" />
    <result column="db_password" property="dbPassword" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_source_id, db_type, env_type, host, port, sid, db_user, db_password, comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhurong.db.persistence.domain.ProjectDataSourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project_data_source
    where data_source_id = #{dataSourceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_data_source
    where data_source_id = #{dataSourceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhurong.db.persistence.domain.ProjectDataSourceExample" >
    delete from project_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhurong.db.persistence.domain.ProjectDataSource" >
    insert into project_data_source (data_source_id, db_type, env_type, 
      host, port, sid, db_user, 
      db_password, comment)
    values (#{dataSourceId,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, #{envType,jdbcType=VARCHAR}, 
      #{host,jdbcType=VARCHAR}, #{port,jdbcType=DECIMAL}, #{sid,jdbcType=VARCHAR}, #{dbUser,jdbcType=VARCHAR}, 
      #{dbPassword,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhurong.db.persistence.domain.ProjectDataSource" >
    insert into project_data_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataSourceId != null" >
        data_source_id,
      </if>
      <if test="dbType != null" >
        db_type,
      </if>
      <if test="envType != null" >
        env_type,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="dbUser != null" >
        db_user,
      </if>
      <if test="dbPassword != null" >
        db_password,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataSourceId != null" >
        #{dataSourceId,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null" >
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="envType != null" >
        #{envType,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=DECIMAL},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null" >
        #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null" >
        #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhurong.db.persistence.domain.ProjectDataSourceExample" resultType="java.lang.Integer" >
    select count(*) from project_data_source
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project_data_source
    <set >
      <if test="record.dataSourceId != null" >
        data_source_id = #{record.dataSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.dbType != null" >
        db_type = #{record.dbType,jdbcType=VARCHAR},
      </if>
      <if test="record.envType != null" >
        env_type = #{record.envType,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null" >
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=DECIMAL},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.dbUser != null" >
        db_user = #{record.dbUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPassword != null" >
        db_password = #{record.dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project_data_source
    set data_source_id = #{record.dataSourceId,jdbcType=VARCHAR},
      db_type = #{record.dbType,jdbcType=VARCHAR},
      env_type = #{record.envType,jdbcType=VARCHAR},
      host = #{record.host,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=DECIMAL},
      sid = #{record.sid,jdbcType=VARCHAR},
      db_user = #{record.dbUser,jdbcType=VARCHAR},
      db_password = #{record.dbPassword,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhurong.db.persistence.domain.ProjectDataSource" >
    update project_data_source
    <set >
      <if test="dbType != null" >
        db_type = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="envType != null" >
        env_type = #{envType,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=DECIMAL},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="dbUser != null" >
        db_user = #{dbUser,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null" >
        db_password = #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where data_source_id = #{dataSourceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhurong.db.persistence.domain.ProjectDataSource" >
    update project_data_source
    set db_type = #{dbType,jdbcType=VARCHAR},
      env_type = #{envType,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      port = #{port,jdbcType=DECIMAL},
      sid = #{sid,jdbcType=VARCHAR},
      db_user = #{dbUser,jdbcType=VARCHAR},
      db_password = #{dbPassword,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where data_source_id = #{dataSourceId,jdbcType=VARCHAR}
  </update>
</mapper>